<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">


<style>
    #lab {
        font-size: x-large;
    }
</style>


<h1><i class="bi bi-file-earmark-plus-fill"></i>  新增商品</h1>
<hr />


<div class="container-fluid">
    <div class="container">
        <form action="~/Product/Upload" method="post" enctype="multipart/form-data">

            <div>
                <label class="form-label" id="lab">課程名稱 *</label>
                <div class="form-floating">
                    <input class="form-control" type="text" name="Name" id="floatingName" placeholder="name" />
                    <label for="floatingName">課程名稱</label>
                </div>
            </div>

            <div>
                <label class="form-label" id="lab">課程訂價 *</label>
                <div class="form-floating">
                    <input class="form-control" type="number" name="Price" id="floatingPrice" placeholder="price" />
                    <label for="floatingPrice">課程訂價</label>
                </div>
            </div>


            <div>
                <label class="form-label" id="lab">課程類別 *</label>
                <div class="form-floating">
                    <select class="form-control" name="Type" required>
                        <option value="">選擇類別</option>
                        <option value="烹飪教學">烹飪教學</option>
                        <option value="親子育樂">親子育樂</option>
                        <option value="人文藝術">人文藝術</option>
                        <option value="健康生活">健康生活</option>
                    </select>
                </div>
            </div>

            <div>
                <label class="form-label" id="lab">課程區域 *</label>
                <div class="form-floating">
                    <select class="form-control" name="Location" required>
                        <option value="">選擇區域</option>
                        <option value="台北">台北</option>
                        <option value="桃園">桃園</option>
                        <option value="台中">台中</option>
                        <option value="台南">台南</option>
                    </select>
                </div>
            </div>

            <div>
                <label class="form-label" id="lab">課程名額上限 *</label>
                <div class="form-floating">
                    <input class="form-control" type="number" name="TotalStock" id="floatingTotalStock" placeholder="TotalStock" />
                    <label for="floatingTotalStock">課程名額</label>
                </div>
            </div>

            <div>
                <label class="form-label" id="lab">課程簡述 *</label>
                <div class="form-floating">
                    <textarea class="form-control" name="Description_S" id="floatingDes_s" placeholder="簡述"></textarea>
                    <label for="floatingDes_s">課程簡述</label>
                </div>
            </div>

            <div>
                <label class="form-label" id="lab">課程詳述 *</label>
                <div class="form-floating">
                    <textarea class="form-control" name="Description_L" id="floatingDes_L" placeholder="課程詳述" style="height: 100px"></textarea>
                    <label for="floatingDes_L">課程詳述</label>
                </div>
            </div>

            <div>
                <label class="form-label" id="lab">商品說明</label>
                <div class="form-floating">
                    <textarea class="form-control" name="Description_L_1" id="floatingDes_L1" placeholder="課程詳述" style="height: 100px"></textarea>
                    <label for="floatingDes_L1">商品說明</label>
                </div>
            </div>

            <div>
                <label class="form-label" id="lab">購買須知</label>
                <div class="form-floating">
                    <textarea class="form-control" name="Description_L_2" id="floatingDes_L2" placeholder="課程詳述" style="height: 100px"></textarea>
                    <label for="floatingDes_L2">購買須知</label>
                </div>
            </div>

            <div>
                <label class="form-label" id="lab">兌換地點</label>
                <div class="form-floating">
                    <textarea class="form-control" name="Description_L_3" id="floatingDes_L3" placeholder="課程詳述" style="height: 100px"></textarea>
                    <label for="floatingDes_L3">兌換地點</label>
                </div>
            </div>

            <div>
                <label class="form-label" id="lab">如何使用</label>
                <div class="form-floating">
                    <textarea class="form-control" name="Description_L_4" id="floatingDes_L4" placeholder="課程詳述" style="height: 100px"></textarea>
                    <label for="floatingDes_L4">如何使用</label>
                </div>
            </div>

            <div>
                <label class="form-label" id="lab">注意事項</label>
                <div class="form-floating">
                    <textarea class="form-control" name="Description_L_5" id="floatingDes_L5" placeholder="課程詳述" style="height: 100px"></textarea>
                    <label for="floatingDes_L5">注意事項</label>
                </div>
            </div>


            <div>
                <label class="col-form-label" id="lab">活動開始時間 *</label>
                <input class="form-control" type="datetime-local" name="StartDate" />
            </div>

            <div>
                <label class="col-form-label" id="lab">活動結束時間 *</label>
                <input class="form-control" type="datetime-local" name="EndDate" />
            </div>

            <div>
                <label class="form-label" id="lab">是否上架</label>
                <input type="checkbox" name="IsSold" value="true" />
            </div>


            <div>
                <label class="form-label" id="lab">課程預覽圖片 *</label>
                <div>
                    <img id="imgPreview" src="" style="width:500px; height: auto" />
                    <input class="form-control" id="File1" name="Pic" type="file" accept="image/*" required/>
                </div>
            </div>

            <div>
                <label class="form-label" id="lab">多張上傳</label>
                <input class="form-control" type="file" name="Pic" multiple="multiple" />
            </div>

            <button type="submit" class="btn btn-primary">上架</button>
        </form>
    </div>
</div>


<script>


    $("#File1").change(function () {
        realURL(this, $("#imgPreview"));
    });

    function realURL(file, img) {
        if (file.files && file.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                img.attr('src', e.target.result);
            };
            reader.readAsDataURL(file.files[0]);
        }
    }
</script>